.Description {
  font-size: 1.3rem;
}

.Title span{
  font-family: 'FiraMonoRegular', Helvetica, Arial, serif;
}

.About ul {
  margin: 10px 0px 10px 0px;
}

.About ul li {
  line-height: 1.3rem;
  margin: 0px 0px 10px 30px;
  font-size: 1.1rem;
}

