.Documentation{
  max-width: 600px;
}

.Reference{
  margin: 20px 0px 20px 0px;
}

.Code {
  font-size: 14px;
}

.Code span{
  color: grey;
}

.CodeDescription{
  margin: 10px 0px 0px 10px;
}

.CodeDescription span {
  font-family: monospace;
  font-size: 14px;
  color: grey;
}